*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #f5f5f7;
    background: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.493));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 110vh;
}
.container{
    max-width: 1300px;
}
header{
    width: auto;
    overflow: auto;
    margin-top: 2%
}
.logo{
    float: left;
    font-family: 'Montserrat', sans-serif;
}
.logo h1{
    color: #fff;
    margin-left: 20px;
    font-family:'Maven Pro', sans-serif;
}
nav{
    float: right;
}
nav ul{
    width: auto;
    overflow: auto;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}
nav ul li:hover{
    border: 1px solid #fff;
}
nav ul .active{
    border: 1px solid #fff;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}
h2{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 0.5cm;
    padding-top: 26px;
}
.gallery{
padding-left: 40px;
padding-top: 20px;
}
.gallery img{
    width: 290px;
    padding: 10px;
    transition: 1s;
}
.gallery img:hover{
    transform: scale(1.1);
}
h3{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 0.5cm;
    padding-top: 10px;
    padding-bottom: 10px;
}